n8n/aiverse-chat.workflow.json
{
  "name": "AIverse Chat",
  "nodes": [
    {
      "parameters": {
        "content": "## AIverse Chat assistant\n\nBacks the chat widget on the AIverse site (`/api/chat` forwards here).\n\n**Setup**\n1. Open the **Chat Webhook** node → copy the **Production URL** → set it as `N8N_CHAT_WEBHOOK_URL` in the site's env.\n2. (Recommended) On the webhook, set **Authentication = Header Auth** and match it to `N8N_CHAT_WEBHOOK_TOKEN`.\n3. On **Call LLM**, attach your **Anthropic** credential (Predefined Credential Type → Anthropic).\n4. Activate the workflow.\n\n**Contract**\n- In:  `{ user, messages: [{ role, content }] }`\n- Out: `{ reply: \"...\" }`\n\nDefaults to **Anthropic** (Claude Messages API). See README to switch to OpenAI / Azure OpenAI.",
        "height": 460,
        "width": 380
      },
      "id": "note1",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [140, 60]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aiverse-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [580, 320],
      "webhookId": "aiverse-chat"
    },
    {
      "parameters": {
        "jsCode": "// Shape the incoming payload into an Anthropic Messages request.\nconst body = ($input.first().json.body) || {};\nconst incoming = Array.isArray(body.messages) ? body.messages : [];\n\nconst system = \"You are the AIverse assistant for NESR's internal AI learning site. Answer questions about AI concepts and the course material \\u2014 neural networks, large language models, transformers, generative AI, prompting, RAG, agents, and AI ethics. Keep answers clear, concise, and beginner-friendly. If a question is unrelated to AI or the courses, gently steer the user back. Do not invent NESR-internal policies or data.\";\n\nconst messages = incoming\n  .filter(m => m && (m.role === 'user' || m.role === 'assistant') && typeof m.content === 'string')\n  .map(m => ({ role: m.role, content: String(m.content).slice(0, 2000) }))\n  .slice(-20);\n\n// Anthropic requires the first message to be from the user (drop the greeting).\nwhile (messages.length && messages[0].role !== 'user') messages.shift();\n\nreturn [{ json: {\n  model: 'claude-sonnet-5',\n  max_tokens: 500,\n  temperature: 0.3,\n  system,\n  messages\n} }];"
      },
      "id": "code1",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http1",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 320],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Anthropic for AI Verse"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the assistant text from the Anthropic response \\u2192 { reply }.\nconst d = $input.first().json;\nconst parts = Array.isArray(d?.content) ? d.content.map(c => c && c.text).filter(Boolean) : [];\nconst reply = parts.join('') || d?.reply || d?.output || \"Sorry \\u2014 I couldn't generate a reply. Please try again.\";\nreturn [{ json: { reply: String(reply).trim() } }];"
      },
      "id": "code2",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.reply } }}",
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1460, 320]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [[{ "node": "Prepare Request", "type": "main", "index": 0 }]]
    },
    "Prepare Request": {
      "main": [[{ "node": "Call LLM", "type": "main", "index": 0 }]]
    },
    "Call LLM": {
      "main": [[{ "node": "Format Reply", "type": "main", "index": 0 }]]
    },
    "Format Reply": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
